.container {
    width: 800px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display: flex;
}

.main-text {
    margin-top: auto;
    margin-bottom: auto;
    color: gray;
    font-size: 48px;
    overflow: hidden;
    white-space: nowrap;
}

/* `::first-letter` includes special characters. For example, 
   `::first-letter` applies to `--n` of `--no-preserve-root`. However, 
   we want to highlight only the first character. That's why we're using 
   a separate class here. */
.first-character {
    font-weight: bold;
    color: red;
}
